:root{

}

body{
    background-image: url(Recursos-la-victoria/Img-iglesia/373011334_702641485236482_2677615512023787665_n.jpg) ;
    margin: 0 auto;
    background-repeat: round;
    
}

#botones-fondo{
    color: white;
    border-radius: 0px 0 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.portada{
    background-image: url(Recursos-la-victoria/iconos/arreglo-1-ico.ico);
    height: 140px;
    width: 260px;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}

.fondo1{
    background-image: url(Recursos-la-victoria/Img-iglesia/correccion-1.jpg);
    height: 360px;
    width: 800px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 300px;
    border-radius: 15%; 
    border: solid whitesmoke;   
}

.boton1,
.boton2,
.boton3{
    background-color:#D3D3D3;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
}